// =============================================================================
// Typography
// =============================================================================

// Font rendering
// ----------------------------------------
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Headings
// ----------------------------------------
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    text-rendering: geometricPrecision;
    letter-spacing: -0.01em;
    line-height: 1.05;

    .has_code_col &{
        color: white;
    }
}

h3, h4, h5, h6, .h3, .h4, .h5, .h6 {
    line-height: 1.4;
}

h1, h2, .h1, .h2 {
    font-weight: @fw_light;
    b, strong, a {
        font-weight: @fw_regular;
    }
}

h3, .h3 {
    font-weight: @fw_regular;
    b, strong, a {
        font-weight: @fw_medium;
    }
}
h4, .h4, h5, h6, .h5, .h6 {
    font-weight: @fw_semibold;
    b, strong, a {
        font-weight: @fw_bold;
    }
}


